.header .search-bar{
    max-width: 360px;
    padding: 0 20px;
}

@media (max-width: 1199px){
    .header .search-bar{
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        padding: 20px;
        box-shadow: 0px 0px 15px 0px grba(1, 41, 112, 0.1);
        background: white;
        z-index: 999;
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
    }
}

.header .search-bar-show{
    top: 60px;
    visibility: visible;
    opacity: 1;

}

.header .search-bar form{
  width: 100%;

}

.header .search-bar form input{
    border: none;
    font-size: 15px;
    color: palevioletred;
    border: 2px solid gray;
    padding: 7px 32px 7px 8px;
    border-radius: 3px;
    width: 100%;
}

.header .search-bar form input:focus{
    outline: none;
}

.header .search-bar form button{
    border: 0;
    padding: 0;
    margin-left: -25px;
    background: none;

}